body {
  height: 95vh;
  width: 95vw;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #67595e;
}
.container {
  height: 700px;
  width: 600px;
  background-color: #67595e;
  /* display: flex; */
  justify-content: center;
  /* align-items: center; */
  position: relative;
}
button {
  position: absolute;
  width: 150px;
  height: 60px;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: rgb(207, 161, 161);
  color: rgb(200, 43, 43);
  border: 2px solid black;
  top: 1%;
  left: 15%;
}

.grid {
  width: 600px;
  height: 600px;
  background-color: black;
  border: 2px solid black;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
}
.item {
  border: 1px solid black;
  text-align: center;
  font-weight: 600;
}
.color-1 {
  background-color: #f8afa6;
}
.color-2 {
  background-color: #fadcd9;
}

.img-1 {
  height: 320px;
  width: 80px;
  position: absolute;
  top: 8%;
  left: 18%;
}
.img-2 {
  height: 320px;
  width: 200px;
  position: absolute;
  top: 4%;
  left: 31%;
}
.img-3 {
  height: 320px;
  width: 80px;
  position: absolute;
  top: 12%;
  left: 71%;
}
.img-4 {
  height: 320px;
  width: 200px;
  position: absolute;
  top: 37%;
  left: 51%;
}
.img-5 {
  height: 320px;
  width: 80px;
  position: absolute;
  top: 29%;
  left: 1%;
}
.img-6 {
  height: 250px;
  width: 80px;
  position: absolute;
  top: 26%;
  left: 89%;
}
.img-7 {
  height: 200px;
  width: 80px;
  position: absolute;
  top: 50%;
  left: 38%;
}
.img-8 {
  height: 370px;
  width: 80px;
  position: absolute;
  top: 4%;
  left: 11%;
}
.footer {
  height: 60px;
  width: 600px;
  background-color: rgb(207, 161, 161);
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-around;
}
.footer img {
  height: 50px;
  width: 50px;
  border: 2px solid orange;
  border-radius: 5px;
  border-left: none;
  border-right: none;
}
.box-0 {
  height: 60%;
  width: 40%;
  margin: 10px;
  text-align: center;
  font-size: 2rem;
  margin-right: -55px;
  border: 2px solid orange;
  border-right: none;
  color: rgb(200, 43, 43);
  background-color: rgb(226, 141, 141);
}

.box-3 {
  height: 100%;
  width: 20%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.box-1 {
  height: 60%;
  width: 40%;
  margin: 10px;
  text-align: center;
  font-size: 2rem;
  margin-left: -55px;
  border: 2px solid orange;
  border-left: none;
  color: rgb(200, 43, 43);
  background-color: rgb(226, 141, 141);
}

.player-active {
  background-color: rgba(255, 255, 255, 0.5);
}
.winner {
  background-color: rgb(1, 249, 1);
  color: black;
}

.final {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 3%;
  left: 2%;
}

#div-1 {
  position: relative;
}

.green-player {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 5%;
}
.red-player {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
}
.hidden {
  display: none;
}

.opacity {
  opacity: 0.5;
}
